<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTUD_QLTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PTUD_QLTV.Properties.Settings.QLTV_2ConnectionString"
            connectionString="Data Source=LAPTOP-UVIPITP3\SQLEXPRESS;Initial Catalog=QLTV_2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="localhost_QLTV_2_Connection" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-UVIPITP3\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTV_2" />
        <add name="localhost_QLTV_2_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-UVIPITP3\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTV_2" />
        <add name="localhost_QLTV_2_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-UVIPITP3\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTV_2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PTUD_QLTV.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAccounts" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </PTUD_QLTV.Properties.Settings>
    </userSettings>
</configuration>